<div style="text-align: center; margin: 50px;">
    <h1 style="background-color: #4CAF50; color: white; padding: 20px; border-radius: 10px;">BeSpoked Bikes Management System</h1>
</div>

<div style="margin: 20px;">
    <app-salespersons></app-salespersons>
    <app-salespersons-add></app-salespersons-add>
    <app-sale-person-update></app-sale-person-update>
    <app-salespersons-search></app-salespersons-search>
    <app-products></app-products>
    <app-sales></app-sales>
    <app-customers></app-customers>
    <app-commision></app-commision>
</div>

